# Build tools and downloaded libraries
.tools/
libs/

# IDE and history files
.history/
.vscode/
.devcontainer/

# Build artifacts
**/*.o
**/*.obj
**/*.pdb
**/*.stamp
**/*.s
build/
test-*
main-*
/.ninja_log

# Profiling and Coverage Data
perf.data
gmon.out
*.info
*.gcno
*.gcda
*.gcov
*.gprof

# Coverage report output
coverage/

# OS-specific
.DS_Store
